.wrapper {
  background: $dark-green;
  display: flex;
  // padding: 5vw 0;
  width: 100%;
  height: 80vh;
}

.nav-lat {
  height: 100%;
  width: fit-content;
  background: $kaki;
}

.dashboard-pages {
  height: 100%;
  width: 90%;
  background: $beige;
  padding: 5vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.forests-cards {

  a {
  text-decoration: none;
  color: $almost-black;
  }

  .icons-fa {
    width: 100%;
    padding-left: 30%;
    display: flex;
    justify-content: space-between;

    .fa-eye:hover {
      color: rgb(29, 114, 29);
    }

    .fa-edit:hover {
      color: $beige;
    }

    .fa-trash-alt:hover {
      color: rgb(250, 81, 81);
    }
  }
}
