<% flash.each do |type, msg| %>
  <div class="modal-flash">
    <%= msg %>
  </div>
<% end %>

<script>
  setTimeout(() => {
    const box = document.querySelector('.modal-flash');
    box.style.display = 'none';
  }, 1000);
</script>
