<div class="banner">
  <% if user_signed_in? %>
  <h1>In need of cash?</h1>
  <%= link_to 'Become an owner', '/users/sign_up' %>
  <% else %>
  <h1> In need of holidays?</h1>
  <%= link_to 'Sign up', '/users/sign_up' %>
  <% end %>
</div>

<div class="home-exemples">
  <div class="home-cards">
    <div class="home-card gnome1">
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="far fa-star"></i>
      <br>
      <p>Forest Gump, <i>Paris</i></p>
      <br>
      <p><i>"Lovely trip super nice!"</i></p>
    </div>
    <div class="home-card gnome2">
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <br>
      <p>Forest Whitaker, <i>Los Angeles</i></p>
      <br>
      <p><i>"So cute forest. I warmly recommend Forestreep"</i></p>
    </div>
    <div class="home-card gnome3">
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <br>
      <p>JuL, <i>Marseille</i></p>
      <br>
      <p><i>"Wala super appli"</i></p>
    </div>
    <div class="home-card gnome4">
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="far fa-star"></i>
      <br>
      <p>Madonna, <i>New York</i></p>
      <br>
      <p><i>"So handy, thank you Forestreep"</i></p>
    </div>
  </div>
</div>

<div class="banner-experience">
  <h1>Chat with a superhost</h1>
  <%= link_to 'Start chatting' %>
</div>
