<div class="banner">
  <% if user_signed_in? %>
  <h1>Host your forest on ForesTreep</h1>
  <%= link_to 'Become an owner', '/forests/new' %>
  <% else %>
  <h1> In need of holidays?</h1>
  <%= link_to 'Sign up', '/users/sign_up' %>
  <% end %>
</div>


<div class="home-exemples">
  <h1>Our customers' reviews</h1>
  <div class="home-cards">
    <div class="home-card gnome1">
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="far fa-star"></i>
      <br>
      <p>Forest Gump, <i>Paris</i></p>
      <br>
      <p><i>"Lovely trip super nice!"</i></p>
    </div>
    <div class="home-card gnome2">
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <br>
      <p>Forest Whitaker, <i>Los Angeles</i></p>
      <br>
      <p><i>"Such a cute forest. I warmly recommend ForesTreep"</i></p>
    </div>
    <div class="home-card gnome3">
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <br>
      <p>JuL, <i>Marseille</i></p>
      <br>
      <p><i>"Wala super appli"</i></p>
    </div>
    <div class="home-card gnome4">
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="far fa-star"></i>
      <br>
      <p>Madonna, <i>New York</i></p>
      <br>
      <p><i>"So handy, thank you ForesTreep"</i></p>
    </div>
  </div>
</div>

<div class="banner-experience">
  <h1>Chat with a superhost</h1>
  <%= link_to 'Start chatting', index_owner_forests_path(message: 'true') %>
</div>
