<div class="banner">
  Faire une banner
  <h1>Titre</h1>
  <button>Call to action</button>
</div>

<div class="exemples">
  <div class="cards">
    <div class="card">
      Card d'exemple
    </div>
    <div class="card">
      Card d'exemple
    </div>
    <div class="card">
      Card d'exemple
    </div>
    <div class="card">
      Card d'exemple
    </div>
  </div>
</div>

<div class="banner-experience">
  Faire une banner
  <h1>Titre</h1>
  <button>Call to action</button>
</div>
