<div class="container mt-5 mb-5">
  <%= simple_form_for [@forest, @review] do |f| %>
    <%= f.input :comment, placeholder: 'Your comment' %>
    <%= f.input :rating, collection: 0..5, placeholder: '1-5' %>
    <%= f.submit class: 'btn btn-outline-success'%>
  <% end %>
</div>
