.banner {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('banner.jpeg');
  background-size: cover;
  width: 100%;
  height: 70vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    color: white;
  }

  a {
    background: $beige;
    border-radius: 50px;
    padding: 1vh 1vw;
    color: $almost-black;
    text-decoration: none;
    height: fit-content;

    &:hover {
      background: $kaki;
    }
  }
}

.banner-experience {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('garden-gnome.jpeg');
  background-size: cover;
  width: 90vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 5vw;
  border-radius: 50px;

  h1 {
    color: white;
  }

  a {
    background: $beige;
    border-radius: 50px;
    padding: 1vh 1vw;
    color: $almost-black;
    text-decoration: none;
    height: fit-content;

    &:hover {
      background: $kaki;
    }
  }
}
