.button-classic {
  margin-top: 5vh;

  a {
    background: $kaki;
    border-radius: 50px;
    padding: 1vh 1vw;
    color: $almost-black;
    text-decoration: none;
    height: fit-content;

    &:hover {
      background: $camo-green;
      color: $beige;
    }
  }
}
