.wrap {
  display: flex;
}

.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  padding: 16px;
  background-color: white;
}

.card {
  height: 100px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 15px;
  background-color: #e6dfbf;
  width: 220px;
  border: none;
}

.card a {
  text-decoration: none;
  color: black;
}

.card a:hover {
  text-decoration: none;
  color: black;
  font-weight: bolder;
}

.card-image {
  height: 150px;
  width: 150px;
  background-size: cover;
}

.card-infos h3 {
  font-size: 12px;
  font-weight: bolder;
}

.card-infos p {
  font-size: 8px;
  font-weight: lighter;
}
