.forest-show-container {
  background-color: #fefefe;
  width: 80vw;
}

.forest-show-container h1 {
  font-size: 33px;
  font-weight: bold;
}

.forest-show-container h2 {
  font-size: 26px;
}

.forest-show-container h3 {
  font-size: 20px;
}

.forest-show-container h4 {
  font-size: 16x;
}

.forest-show-container h5 {
  font-size: 12x;
}

.forest-show-container h6 {
  font-size: 10x;
}

.forest-show-container p {
  font-size: 10x;
}

.details-booking-container {
  display: flex;
}

.forest-details {
  width: 60%;
}

.forest-details-infos {
  border-bottom: solid red 1px;
  margin: 20px;
}
