.wrap {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
  background-color: white;
  flex-grow: 1;
}

.forest-card {
  height: 150px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 15px;
  background-color: #e6dfbf;
  width: 20vw;
  border: none;
}

.forest-card a {
  text-decoration: none;
  color: black;
}

.forest-card a:hover {
  text-decoration: none;
  color: black;
  font-weight: bolder;
}

.card-image img {
  height: 130px;
  width: 130px;
  border-radius: 5px;
  object-fit: cover;
  margin: 2px;
}

.card-infos {
  margin: 10px;
  padding: 10px;
}

.card-infos h3 {
  font-size: 12px;
  font-weight: bolder;
}

.card-infos p {
  font-size: 8px;
  font-weight: lighter;
}
