.forest-header-show {
  padding: 10px;
}

.forest-header-show-details {
  display: inline-block;
}

.show-forest-photos {
  background-color: aquamarine;
  height: 30vh;
  width: 80%;
  border-radius: 10px;
  margin-bottom: 15px;
  object-fit: cover;
}
